@using Microsoft.AspNetCore.Identity
@using Pharmacy.Models
@inject SignInManager<Users> SignInManager
@inject UserManager<Users> UserManager
<ul class="navbar-nav ms-auto align-items-center">

    @if (SignInManager.IsSignedIn(User))
    {
       <li class="nav-item">
            <span class="navbar-text me-3">
                Hello @User.Identity.Name!
            </span>
        </li>
       <li class="nav-item">
            <form asp-controller="Account" asp-action="Logout" method="post" class="d-inline">
                @Html.AntiForgeryToken()
                <button id="logout" type="submit" class="btn btn-link text-dark p-0">Logout</button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="Account" asp-action="Login">
                Login
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="Account" asp-action="Register">
                Register
            </a>
        </li>
    }
</ul>
